<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325132158128-jeqlt53n7evohho2k625qbgk6piir1vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325132158128-jeqlt53n7evohho2k625qbgk6piir1vt</string>
	<key>API_KEY</key>
	<string>AIzaSyCKjkJefPE6tle28pUqghB347zUxWvV4Vw</string>
	<key>GCM_SENDER_ID</key>
	<string>325132158128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.setram.setram</string>
	<key>PROJECT_ID</key>
	<string>setram-cf165</string>
	<key>STORAGE_BUCKET</key>
	<string>setram-cf165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325132158128:ios:3eba416eb106377663a775</string>
</dict>
</plist>